{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div class="container">
        
        <div class="form-row mb-4">
            <div class="col-sm-9">
                <input class="form-control text-center" type="search" placeholder="Tapez votre recherche" aria-label="Search">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Rechercher</button>
            </div>
        </div>
        <div class=" bg-info text-center text-white">
            <h3>Nouveautés</h3>
        </div>
        <div class="row">
            {% for livre in livres %}
                <div class="col-sm-4">
                    <div class="card mb-3">
                        {% if livre.imageName %}
                            <img style="height: auto; width: 100%; display: block;" src="{{ vich_uploader_asset(livre, 'imageFile') | imagine_filter('thumb') }}" alt="image livre">
                        {% else %}
                            <img style="height: auto; width: 100%; display: block;" src="{{ '/images/livres/livre.jpg' | imagine_filter('thumb') }}" alt="image livre">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text text-center">{{ livre.titre }}</p>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('catalog_show', { id: livre.id, slug: livre.slug } ) }}" class="card-link">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
