<form method="post" action="{{ path('admin_genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Etes-vous sûr de voulir supprimer ce genre ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-danger mt-2"><i class="fa fa-trash"></i> supprimer</button>
</form>
