{% extends 'base.html.twig' %}

{% block title 'Nouveau genre' %}

{% block body %}

    <div class="container">
   
        <div class=" bg-warning text-center text-white">
            <h3>Enregistrer un nouveau genre</h3>
        </div>
   

        {{ include('admin/genre/_form.html.twig') }}
        
   </div>

{% endblock %}
