{% extends 'base.html.twig' %}

{% block title 'modifier éditeur' %}

{% block body %}
    <div class="container">

        <div class=" bg-warning text-center text-white">
            <h3>Modifier l'éditeur</h3>
        </div>
        
        {{ include('admin/editeur/_form.html.twig', {'button_label': 'sauvegarder'}) }}
        {# <a class="btn btn-warning" href="{{ path('admin_editeur_index') }}">retour à la liste</a> #}
        
    </div>
{% endblock %}
