{% extends 'base.html.twig' %}

{% block title 'Ajouter un exemplaire' %}

{% block body %}

<div class="container">
    <div class=" bg-warning text-center text-white">
        <h3>Enregistrer un nouvel exemplaire</h3>
    </div>
    {{ include('admin/exemplaire/_form.html.twig') }}
</div>

{% endblock %}
