{% extends 'base.html.twig' %}

{% block title 'Nouvel auteur' %}

{% block body %}
    <div class="container">
   
        <div class=" bg-warning text-center text-white">
            <h3>Enregistrer un nouvel auteur</h3>
        </div>

        {{ include('admin/auteur/_form.html.twig') }}
   
    </div>
{% endblock %}
