{% extends 'base.html.twig' %}

{% block title 'modifier livre' %}

{% block body %}

    <div class="container">

        <div class=" bg-warning text-center text-white">
            <h3>Modifier le livre</h3>
        </div>

        {{ include('admin/livre/_form.html.twig', {'button_label': 'sauvegarder'}) }}

        {{ include('admin/livre/_delete_form.html.twig') }}
    </div>

{% endblock %}
